body{
    background-color:powderblue;
}

.game-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.grid-item {
    background-color: rgb(0, 179, 255);
    padding: 0;
    text-align: center;
    position: relative;
    font-size: 75px;
    height: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

#rules{
    font-size: 20px;
}

#curr-turn{
    text-align: center;
    font-size: 30px;
}